* {
    margin: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    background-image: url("../../assets/images/menu-img/fondo-menu1.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding-left: 7%;
}

.containerList{
    display: flex;
    flex-direction: column;
}
/*FIXME comprobar y poner espacio como en xd Adobe*/
.item{
    margin: 5px;
    padding: 5px;
}
/*TODO anadir font-family comprobar colores */
.text{
    font-size: 46px;
    font-weight: 600;
    color:#502f80;
}
.text:hover{
    cursor: pointer;
    color: #f4c944;
    
}