.home-productos {
    background-color: #FDE0EE; /* Cambia según la maqueta */
    text-align: center;
    padding: 120px;
    font-size: 50px;
    color: #502F80;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    
  }
  