.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
}
/**********CONTENEDOR DE IDIOMAS***********/
.lang-switch-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 3%;
    cursor: pointer
}
/*FIXME comprobar totos los datos con diseno*/ 
.lang-btn {
    margin-right: 7px;
    padding: 3px;
    padding-top: 7px;
    font-weight: 600;
    letter-spacing: -1px;

}
.lang-btn.es {
    background-color: var(--amarillo);
    color: var(--rosa);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.lang-btn.es:hover {
    background-color: var(--azul-oscuro);
    color: var(--amarillo);
}

.lang-btn.en {
    background-color: #daf6f7;
    color: var(--amarillo);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.lang-btn.en:hover {
    background-color: var(--rosa);
    color: var(--azul);
}

/**********CONTENEDOR DE LOGO***********/

.logo {
    position: relative;
    height: 70%; 
}

.logo img {
    position: absolute;
    top: -70%;
    left: 0;
    transition: top 0.5s ease; 
}

.logo:hover img {
    top: 0;
}

/**********CONTENEDOR DE MEMU***********/
.menu-btn{
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease, opacity 0.3s ease, background-image 0.1s ease;
}
.menu-btn.menu-open {
    background: url("../../assets/images/navbar/menu.png") center / contain no-repeat;
}

.menu-btn.menu-close {
    background: url("../../assets/images/chile.png") center / contain no-repeat;
}

.menu-btn:hover {
    background: url("../../assets/images/navbar/menu-hover.png") center / contain no-repeat;
}
