@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
  font-family: 'Barlow Condensed', sans-serif;
  color: #502F80;
}

p {
  font-size: 0.8em;
}

h3 {
  color: #502F80;
}

h2{
  margin: 0;
}



.mainTittle {
  /* border: #502F80 solid 2px; */
  text-align: left;
  color: #502F80;
  background-color: #F4EFFF;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  padding-bottom: 7%;
}

.mainContainerContact {
  display: flex;
  flex-direction: row;
  background-color: #F4EFFF;
  /* background-color: #dfa4c8; */
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.dataContact {
  width: 20%;
  /* background-color: yellow; */
  padding-top: 5%;
}

.divFormGeneral {
  width: 40%;
  height: auto;
  /* background-color: #3883f3; */
  margin-left: 15%;
}

.containerForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerFieldsLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.containerFieldsRight {
  /* background-color: #ecb07f; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 7px green solid; */
  height: auto;
  padding-left: 4%;
  padding-right: 4%;
}

.field1 {
  position: relative;
}

.field {
  position: relative;
  padding-bottom: 2%;
  /* border: #3883f3 solid 2px; */
  display: flex;
  
}

.field input, textarea{
  z-index: 9;
  border:6px solid #502F80;
  box-shadow: 0.5em 0.3em 0px 0.01em #502F80;
  background-color: #FFEEC7;
  outline: none;
}


#emailjs_name{
  color: #502F80;
}

.field input{
  box-shadow: 0.5em 0.3em 0px 0.01em #502F80;
  font-size: 1em;
  font-family: 'Barlow Condensed', sans-serif;
}

.inputField {
  margin-bottom: 10px;
  border: 3px solid #502F80;
  border-radius: 40px;
  padding: 3%;
  width: 95%;
  margin: 4%;

  
}

/* .inputField2 {
  margin: 1%;
  border: 3px solid #502F80;
  border-radius: 40px;
  padding: 0px;
  width: 100%;
} */

/* .rectangulo {
  width: 82%;
  height: 8%;
  background-color: #502F80;
  position: absolute;
  padding: 5%;
  margin-left: 5%;
  margin-top: 6%;
  border-radius: 40px;
  z-index: 1;
} */

/* .rectangulo2 {
  width: 21%;
  height: 15%;
  background-color: #502F80;
  position: absolute;
  padding: 5.2%;
  padding-bottom:4.8%;
  margin-left: 0.5%;
  margin-top: 1%;
  border-radius: 40px;
  z-index: 1;
} */

.field label {
  display: block;
  font-size: 16px;
  text-align: left;
}

.inputSub {
  padding: 2%;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 1em;
  background-color: rgb(244, 201, 68);
  border-radius: 40px;
  width: fit-content;
  height: auto;
  align-self: center;
  color:#502F80;
  border: 5px solid #502F80;
  box-shadow: 0.4em 0.2em 0px 0.01em #502F80;
}

.textAreaField {
  width: 100%;
  height: 70%;
  border-radius: 40px;
  padding-top: 5%;
  padding-bottom: 7%;
  padding-left: 8%;
  padding-right: 15%;
  border: 6px solid #502F80;
  resize: none;
  font-size: 1em;
  /* box-shadow: 9px 8px 0px 6px #502F80; */
  /* box-shadow: 1em 1em 0px 0.2em #502F80; */
  color: #502F80;
  
}


.divTextArea {
  /* border: 2px red solid; */
  width: 100%;
  height: 95%;
  display: flex;
  padding-top: 4%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.inputField::placeholder,
.textAreaField::placeholder {
  color: #502F80;
  opacity: 1; /* Asegura que el color sea visible */
}

.divButton {
  /* border: 2px red solid; */
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  margin: 0;
  padding: 0px;
}

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border-radius: 0 20px 0 30px;
}

.custom-alert-content {
  text-align: center;
}

.custom-alert button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #6790cc;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.custom-alert button:hover {
  background-color: #D9ECEA;
  color: #3883f3;
}


hr {
  border: none;
  border-top: 2px solid #502F80;
  margin: 20px 0;
  width:auto;
}
/* 
.dataContactDown{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phoneEmail{
  text-align: right;
  margin: 0;
} */

.contactRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.inlineData {
  font-weight: bold;
  margin: 0;
}

.phoneEmail {

  font-size: 0.8em;
}

/* .inlineData{
  display: inline;
  padding-right: 20%;
} */

#icon1{
  width: 5%;
  height: 8%;
  position: absolute;
  z-index: 100;
  top:120px;
  left:100px;
}